html,body{    
    color:#000;
    height:100%;
    font: normal 14px arial;
}
.main{
    margin: 0 auto;
    width: 800px;    
}
.header{          
    background: #000;
    padding: 10px 20px;
    height: 16px;
    margin-bottom: 20px;
    color: #fff
}
.header .count_comment{
    float: left;
}
.header .add_comment{
    float: right;
    color: blue;
    cursor: pointer;
}
.editor{       
    background: #f8f8f8;    
    padding: 10px;
    margin-bottom: 20px;
}
form .row{
    dispaly: block;
    padding: 5px 0px;
}
form label{
    display: inline-block;
    font-size: 17px;
    vertical-align: top;
    padding: 6px 0;
}

form input[type='text']{
    width: 200px;
    height: 30px;
}
form input[type='submit']{
    padding: 10px;    
    font-weight: bold;
}
form textarea{
    width: 400px;
}
.all-comment{
    margin-bottom: 20px;
}
.title-comment{
    background: #E4E6E6;
    padding: 10px 20px;
    height: 16px;
}
.title-comment .auth{
    float: left;
}
.title-comment .add_comment{
    float:right;
    color: blue;
    cursor: pointer;
}
.title-comment .delete{
    float:right;
    color: blue;
    cursor: pointer;
}
.title-comment .edit{
    float: right;
    color: blue;
    cursor: pointer;
}
.body-comment{
    background-color: #F1F2F2;
    padding: 5px 20px;
}
ul{
    list-style: none;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
